.mainContainer{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border-radius: 8px;
    width: 540px;
    height: 449px;
    min-height: max-content;
    position: absolute;
    margin: 0 auto;
    z-index: 10;
    top: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 48px;
    left: 25%;
    right: 25%;
}
.textContainer{
    text-align: center;
    padding-bottom: 32px;
    h1{
        font-weight: bold;
        color: black;
    }
}
.btn{
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    background-color: #3CB3AB;
    border-radius: 33.5px;
    border: none;
    width: 107px;
    height: 48px;
}
.btn:active{
    background-color:  #147A73;
}
@media screen and (max-width: 895px) {
    .mainContainer{
        width: 100%;
        z-index: 10;
        top: 200px;
        padding: 24px;
        height: max-content;  
        left: 0;
        right: 0;
    }
}